
# Database URL for PostgreSQL
DATABASE_URL=
# Better Auth configuration
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# Docker
POSTGRES_PORT=5434
POSTGRES_DB=todo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
